.header__hello-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
  margin-bottom: var(--space-4);
  svg {
    display: flex;
    align-items: center;
    width: var(--space-8);
    height: var(--space-8);
    stroke: var(--color-text);
  }
}
.header__hello-panel-title {
  font-size: var(--font-size-2xl);
}

@media (max-width: 1024px) {
  .header__helo-panel-profile-icon {
    svg {
      width: var(--space-7);
      height: var(--space-7);
    }
  }
  .header__hello-panel-title {
    font-size: var(--font-size-xl);
  }
}

@media (max-width: 480px) {
  .header__hello-panel {
    margin-bottom: var(--space-2);
    svg {
      width: var(--space-7);
      height: var(--space-7);
    }
  }
  .header__hello-panel-title {
    font-size: var(--font-size-xl);
  }
}
