.random__button--toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--space-4);
  background-color: var(--color-accent-cinema-theme);
  color: var(--color-text);
  height: 100%;
  border-radius: var(--radius-md);
  transition: var(--transition-normal);
  width: 50%;
  margin: 0 var(--space-4);

  svg {
    margin-right: var(--space-2);
    stroke: var(--color-text);
  }

  &:active {
    transform: translateY(1px);
  }
}
.random__button--toolbar-title {
  text-shadow: var(--shadow-lg);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
}
/* Hover stickiness */
@media (hover: hover) and (pointer: fine) {
  .random__button-tolbar:hover {
    background-color: var(--color-accent-cinema-theme-hover);
  }
}

@media (max-width: 1600px) {
  .random__button--toolbar {
    display: none;
  }
}
@media (min-width: 1600px) {
  .random__button--toolbar {
    width: 35%;
  }
}
@media (max-width: 1400px) {
  .random__button--toolbar {
    display: none;
  }
}
