.aside {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-3);
  background-color: var(--color-bg);
  width: 260px;
  height: 100vh;
  border-right: 1px solid var(--color-border);
}
.logo {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin-bottom: var(--space-8);
  margin-top: var(--space-4);
  svg {
    fill: var(--color-accent-cinema-theme);
    width: var(--space-10);
    height: var(--space-10);
    stroke: var(--color-accent-cinema-theme);
  }
}
.logo__title {
  color: var(--color-text);
}
.nav__item {
  font-size: var(--font-size-md);
  transition: var(--transition-normal);
  border-radius: var(--radius-md);

  svg {
    width: var(--space-7);
    height: var(--space-7);
  }

  &:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
  }

  &:hover {
    background-color: var(--color-accent-cinema-theme);
    margin-left: var(--space-2);
    transition: var(--transition-normal);
    color: var(--color-text);
  }
}
.nav__link {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  color: var(--color-text-muted);
  padding: var(--space-2);
  transition: var(--transition-normal);

  &:hover {
    color: var(--color-text);
    transition: var(--transition-normal);
  }
}
.nav__text {
  font-size: var(--font-size-xs);
}
.nav__item--profile {
  margin-top: var(--space-8);
  margin-bottom: var(--space-6);
  padding: var(--space-2);
  background-color: var(--color-bg-grey-600);

  svg {
    margin-right: var(--space-2);
    width: var(--space-8);
    height: var(--space-8);
  }

  &:hover {
    background-color: var(--color-bg-grey-600);
    margin-left: 0;
    transition: var(--transition-normal);
  }
}

@media (max-width: 1024px) {
  .aside {
    max-width: 200px;
  }
  .logo {
    margin-top: var(--space-2);
    svg {
      width: var(--space-6);
      height: var(--space-6);
    }
  }
  .logo__title {
    font-size: var(--font-size-lg);
  }
  .nav__item--profile {
    margin-bottom: var(--space-2);
  }
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }
}
