.header {
  background-color: var(--color-bg);
  width: calc(100% - 260px);
  margin-left: 260px;
  margin-bottom: var(--space-6);
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header {
    margin-bottom: var(--space-3);
  }
}
