.main {
  flex-grow: 1;
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 0;
}

@media (max-width: 1024px) {
  .main {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    width: 100%;
  }
}
