.random {
  margin-left: 260px;
  margin-bottom: var(--space-4);
  height: 48px;
}

@media (min-width: 1399px) {
  .random {
    display: none;
  }
}
@media (max-width: 1024px) {
  .random {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
@media (max-width: 768px) {
  .random {
    width: 100%;
    margin-left: 0;
  }
}
