body {
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  min-height: 100vh;

  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding-top: 100px;
}
